[submodule "Connect 4/vendor/SFML"]
	path = Connect 4/vendor/SFML
	url = https://github.com/SFML/SFML.git
[submodule "Connect 4/vendor/Eigen"]
	path = Connect 4/vendor/Eigen
	url = https://gitlab.com/libeigen/eigen.git
